.topnav {
    background-color: #000
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px:
}

.topnav a:hover {
    background-color: #ddd
    color: black;
}

.topnav a.active {
    background-color: #0d6882;
    color: white;
}

body {
    background-color: #1287A8;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
